/* Caterina Spaghner & Laura Martínez */

html, body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

div {
    box-sizing: content-box;
}

h1, h2, h3, p, a{
    margin: 0px;
    padding: 3px 0px 0px 0px;
    font-family: "Helvetica Neue", "Arial", "Roboto", sans-serif;
}

/* 
    Vamos a dar un tamaño fijo de 960px a la página para que
    sea más senzillo calcular tamaños.
*/
#header {
    color: black;
    background: #393939;
    padding: 10px 10px 10px 20px;
}

#header h1 {
    text-align: left;
    font-size: 20px;
}

#navigation-links{
    text-align: center;
}

#navigation-links li{
    display: inline;
}

#navigation-links a{
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}

.blog-posts{
    width: 100%;
    background-color: #f8f8f8;
}
.active{
    border-bottom: 1px solid white;
}

.post{
    margin: 10px 5px 5px 5px;
    padding-bottom: 25px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2);

}

.post h3, .post p{
    padding-left: 10px;
}

.post img{
    width: 200px;
}

.post p {
    font-size: 12px;
}