<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="navbar">
        Best website ever
        <ul class="right">
            <li>Button1</li>
            <li>Button2</li>
        </ul>
    </div>
    <div id="content">
        <div id="aside">
            <ul>
                <li>Pagina 1</li>
                <li>
                    Pagina 2
                    <ul>
                        <li>Subpagina 1</li>
                        <li>Subpagina 2</li>
                    </ul>
                </li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina 5</li>
            </ul>
        </div>
        <div id="main-content">
            <article class="clearfix">
                <h2>A blog post</h2>
                <img width="350" src="http://r.ddmcdn.com/w_830/s_f/o_1/cx_0/cy_66/cw_288/ch_162/APL/uploads/2014/10/cat_5-1.jpg" alt="Un gato">
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam non ex et lorem cursus sodales vitae ut odio.
                    Sed sollicitudin urna sed maximus gravida.
                    Vestibulum aliquam nibh non feugiat interdum.
                    Sed ac varius quam.
                    Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                    Donec lacinia neque laoreet magna pellentesque tempus.
                    Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                    Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                    Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                    Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                    sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                    Integer facilisis arcu eget sapien varius ultricies.
                    Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                    pretium purus scelerisque cursus.
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam non ex et lorem cursus sodales vitae ut odio.
                    Sed sollicitudin urna sed maximus gravida.
                    Vestibulum aliquam nibh non feugiat interdum.
                    Sed ac varius quam.
                    Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                    Donec lacinia neque laoreet magna pellentesque tempus.
                    Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                    Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                    Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                    Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                    sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                    Integer facilisis arcu eget sapien varius ultricies.
                    Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                    pretium purus scelerisque cursus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam non ex et lorem cursus sodales vitae ut odio.
                    Sed sollicitudin urna sed maximus gravida.
                    Vestibulum aliquam nibh non feugiat interdum.
                    Sed ac varius quam.
                    Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                    Donec lacinia neque laoreet magna pellentesque tempus.
                    Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                    Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                    Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                    Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                    sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                    Integer facilisis arcu eget sapien varius ultricies.
                    Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                    pretium purus scelerisque cursus.
                </p>
            </article>

            <article class="clearfix">
                    <h2>Another blog post</h2>
                    <img width="350" src="http://r.ddmcdn.com/w_830/s_f/o_1/cx_0/cy_66/cw_288/ch_162/APL/uploads/2014/10/cat_5-1.jpg" alt="Un gato">
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam non ex et lorem cursus sodales vitae ut odio.
                        Sed sollicitudin urna sed maximus gravida.
                        Vestibulum aliquam nibh non feugiat interdum.
                        Sed ac varius quam.
                        Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                        Donec lacinia neque laoreet magna pellentesque tempus.
                        Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                        Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                        Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                        Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                        sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                        Integer facilisis arcu eget sapien varius ultricies.
                        Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                        pretium purus scelerisque cursus.
                    </p>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam non ex et lorem cursus sodales vitae ut odio.
                        Sed sollicitudin urna sed maximus gravida.
                        Vestibulum aliquam nibh non feugiat interdum.
                        Sed ac varius quam.
                        Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                        Donec lacinia neque laoreet magna pellentesque tempus.
                        Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                        Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                        Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                        Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                        sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                        Integer facilisis arcu eget sapien varius ultricies.
                        Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                        pretium purus scelerisque cursus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam non ex et lorem cursus sodales vitae ut odio.
                        Sed sollicitudin urna sed maximus gravida.
                        Vestibulum aliquam nibh non feugiat interdum.
                        Sed ac varius quam.
                        Duis ullamcorper nunc mi, non pellentesque ante facilisis non.
                        Donec lacinia neque laoreet magna pellentesque tempus.
                        Sed ipsum turpis, mollis et metus a, tincidunt hendrerit augue.
                        Cras nisi magna, dictum sed purus vel, malesuada faucibus lectus.
                        Ut condimentum tempor lectus, eget consequat dolor placerat ut.
                        Etiam viverra, est eget pharetra tincidunt, sem enim dignissim lacus, 
                        sed vulputate leo ligula ut odio. Cras commodo nec ipsum vitae ultrices.
                        Integer facilisis arcu eget sapien varius ultricies.
                        Mauris semper pretium faucibus. Aliquam varius gravida nulla, in 
                        pretium purus scelerisque cursus.
                    </p>
                </article>
        </div>
    </div>
</body>
</html>